$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.center {
  border: 1px solid black;
}

.top {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.bottom {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.left {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.right {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.sqr {
  padding-top: 33%;
  position: relative;

  p {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0;
  }
}
